@import 'variables'
@import 'fonts'
@import 'animation'
html
  box-sizing: border-box
*,*::after,*::before
  box-sizing: inherit
body
  min-width: 320px
  overflow-x: hidden
.App 
  text-align: center
  font-family: $font-stack
.navbar
  background-color: $main-color
  color: $text-color
  min-height: 70px
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 20px
.content
  padding: 10px 10px 10px 10px
  background-color: $back-color
  min-height: 100vh
.footer
  background-color: $main-color
  color: $text-color
  min-height: 70px
  display: flex
  justify-content: center
  align-items: center
.menu
  width: 40px
  height: 40px
  border: none
  position: relative
  &::after
    content:""
    width: 12px
    height: 2px
    border-radius: 1px
    background-color: $text-color
    position: absolute
    top: 15px
    left: 15px
    box-shadow: 0 4px 0 0 $text-color, 0 8px 0 0 $text-color
.greeting
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.about
  @extend .greeting
.avatar
  background-image: url('../../assets/avatar.jpg')
  width: 15em
  height: 15em
  background-repeat: no-repeat
  background-size: 15em
  border-radius: 50%
  &_about
    @extend .avatar
    background-image: url('../../assets/about.jpg')
    animation: rotate 5s linear infinite


