@import 'variables'
@import 'fonts'
@import 'animation'
@import 'mixins'
$size: 10px
html
  box-sizing: border-box

*
    margin: 0
    padding: 0

*,*::after,*::before
  box-sizing: inherit

body
  min-width: 320px
  overflow: hidden

a
  text-decoration: none
  color: inherit

body
    font-family: $font-stack

ul
    list-style: none

.App 
  height:100%
  max-height: 100vh
  overflow: overlay 
  overflow-x: hidden
  text-align: center
  font-family: $font-stack
  font-size: calc(15px + 0.390625vw)
  &::-webkit-scrollbar
    width:  10px
    background-color: transparent
    z-index: 11
  &::-webkit-scrollbar-track
    background-color: transparent
  &::-webkit-scrollbar-thumb
    background-color: rgba(0,0,0,0.2)
    border-radius: 20px
    &:hover
      background-color: rgba(0,0,0,0.4)
    &:active
      background-color: rgba(0,0,0,0.9)
.scroll-hide
  &::-webkit-scrollbar-thumb
    background-color: transparent
    &:hover
      background-color: rgba(0,0,0,0.4)

.content
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%
  background-color: $back-color
  min-height: 100vh
@media(min-width: 640px)
  .content
    &_inner
      padding: 0px 40px 20px 40px
      max-width: 900px

.navbar
  position: absolute
  top: 0px
  width: 100%
  z-index: 10
  background-color: $main-color
  color: $text-color
  min-height: 70px
  height: 70px
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 20px
  &_logo
    font-size: calc(20px + 0.390625vw)
    transition:
      property: font-size
      duration: 1s
      delay: 0.2s
    cursor: pointer
    &:hover
      font-size: calc(20px + 0.8vw)
@media(min-width: 640px)
  .navbar
    min-height: 80px
    height: 80px
    padding: 0 30px

.header
    background-color: #000
    box-shadow: 1px 1px 5px 0px $main-color
    position: sticky
    top: 0
    width: 100%

.logo
    display: inline-block
    color: #FFF
    font-size: 60px
    margin-left: 10px

.hamb
    cursor: pointer
    float: right
    padding: 40px 20px
    z-index: 10
.hamb-line 
    background: $text-color
    display: block
    height: 2px
    position: relative
    width: 24px
.hamb-line::before,
.hamb-line::after
    background: $text-color
    content: ''
    display: block
    height: 100%
    position: absolute
    transition: all .2s ease-out
    width: 100%
.hamb-line::before
    top: 5px
.hamb-line::after
    top: -5px

.nav
  display: block
  position: fixed
  top: 0
  left: 0
  max-width: 100%
  max-height: 0%
  height: auto
  width: 100vw
  background-color: $main-color
  transition: max-height .5s 0s linear
.menu
  visibility: hidden
  opacity: 0
  transition: visibility 0s linear 1000ms, opacity 1000ms 
  & a
    display: block
    padding: 30px
    color: $text-color
    font-size: calc(15px + 0.390625vw)
    transition:
      property: font-size
      duration: 1s
      delay: 0.2s
    &:hover
      font-size: calc(15px + 0.8vw)
      color: #FFF
.side-menu 
  display: none
.side-menu:checked ~ nav
  max-height: 100%
  height: height
  transition: max-height .5s 0s linear
.side-menu:checked ~ * .menu
  visibility: visible
  opacity: 1
  transition: opacity 1000ms linear
.side-menu:checked ~ .hamb .hamb-line 
  z-index:1
  background: transparent
.side-menu:checked ~ .hamb .hamb-line::before 
  transform: rotate(-45deg)
  top:0
.side-menu:checked ~ .hamb .hamb-line::after 
  transform: rotate(45deg)
  top:0

@media (min-width: 768px) 
    .nav
        max-height: 100%
        width: auto
        position: static
        display: flex
        flex-direction: row
        align-items: center
        background-color: $main-color
        overflow: hidden
        transition-property: none
    .menu
      transition: visibility 0s 0s linear
      visibility: visible
      opacity: 1
      & li
        float: left
      & a:hover
        background-color: transparent
    .hamb
        display: none

.home
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  min-height: 100vh
  height: auto
  & p
    margin-top: 2rem
  & h1
    margin-top: .5rem
    white-space: pre-line
  &_icons
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: center
    width: 100%
    margin-top: 2rem
    padding-left: 1rem
    padding-right: 1rem
  &_icon_container
    display: flex
    justify-content: center
    align-items: center
    height: 4rem
    width: 4rem
    margin: 5px
    background-color: #fff
    border-radius: 50%
    box-shadow: 0 0 20px rgba(0,0,0,.1)
    cursor: pointer  
@each $tech in $tech-stack
  .home_icons_#{$tech}
    @include image('../../assets/#{$tech}.png',2.5rem,2.5rem)

@media(min-width: 640px)
  .home p 
    max-width: 400px
@media(min-width: 1024px)
  .home
    flex-direction: row
    flex-wrap: wrap
    align-content: center
    & h1
      margin-left: 2rem
    & p
      max-width: 550px

.avatar
  background-image: url('../../assets/avatar1.jpg')
  width: 18rem
  height: 18rem
  background-repeat: no-repeat
  background-size: 18rem
  border-radius: 50%
  &_running
    animation: borders-morph 1.5s linear infinite
    animation-play-state: running

.about
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  min-height: 100vh
  width: 100%
  padding: 150px 20px
  &_text
    display: flex
    flex-direction: column
    max-width: 640px
  &_inner
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
  & p
    margin-top: 1rem
.avatar_about  
  display: flex
  justify-content: center
  align-items: center
  margin: 20px
  width: 20rem
  height: 20rem
.avatar_about_img  
  border-radius: 30%
  content-fit: contain
  width: 20rem
  height: 20rem
@media(min-width: 1024px)
  .about
    min-height: 80vh
    &_inner
      display: flex
      flex-direction: row
      margin-top: 2rem
    &_text
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      padding-left: 3rem
  .avatar_about
    width: 15rem
    height: 15rem

.portfolio
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: justify
  min-height: 100vh
  width: auto
  padding: 150px 0px
  & h1
    margin-bottom: 2rem
  & h3
    margin-top: 2rem
@media(min-width: 1024px)
  .portfolio
    min-height: 100vh
.project
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: justify
  background-color: #e9e9e9
  border-radius: 20px
  margin: 20px 0px
  padding: 10px
  max-width: 320px
  box-shadow: 0 0 10px rgba(0,0,0,.1)
  &_image
    height: 300px
    min-height: 300px
    width: 280px
    border-radius: 20px
    overflow: hidden
  &_text
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      padding-left: 1rem
      width: 70%
  &_keywords
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: space-around
    align-items: center
    width: 100%
  &_keyword
    padding: 10px 15px
    margin: 10px
    background-color: #fff
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px
  &_links
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    &_items
      display: flex
      flex-direction: row
      align-items: center
      & *
        margin: 10px
      &:hover
        background: #fff
        border-radius: 10px
  &_github_icon
    @include image('../../assets/github_black.png',2rem,2rem)
    cursor: pointer
  &_react_icon
    @include image('../../assets/react.png',2rem,2rem)
    cursor: pointer
.project h3
  margin: 1rem 0
.project img 
  position: relative
  left: 0px
  top: 0px
  width: 100%
  transition: all 5s ease-in
  &:hover
    object-position: 0px -200px
.project .project1_image:hover
    object-position: 0px -325px
.project .project2_image:hover
    object-position: 0px -250px

@media(min-width: 480px)
  .project
    max-width: 480px
  .project_image
    width: 420px
  .project .project1_image:hover
    object-position: 0px -640px
  .project .project2_image:hover
    object-position: 0px -530px
@media(min-width: 768px)
  .project
    max-width: 640px
    &_image
      height: 300px
      min-width: 500px
      width: 500px
  .project .project1_image:hover
    object-position: 0px -820px
  .project .project2_image:hover
    object-position: 0px -685px
@media(min-width: 1024px)
  .project
    flex-direction: row
    max-width: 1024px
    &_image
        height: 300px
        min-width: 500px
        width: 500px
    &_text
      width: 100%


.contact
  display: flex
  flex-direction: column
  align-items: center
  min-height: 30vh
  & div:nth-child(2)
    margin-top: 2rem
  & div:not(:nth-child(2))
    margin-top: 1rem
  & p 
    margin-top: 1rem
@media(min-width: 1024px)
  .contact
    min-height: 30vh

.footer
  background-color: $main-color
  color: $text-color
  min-height: 80px
  display: flex
  justify-content: space-around
  align-items: center
  &_github_icon
     @include image('../../assets/github.png',2rem,2rem)
     cursor: pointer
