@font-face ("Nanum Gothic Coding", "../fonts/NanumGothicCoding-Bold.ttf");
@font-face : cursive;
@keyframes borders-morph {
  0% {
    border-radius: 50%;
  }
  25% {
    border-radius: 60% 40% 60% 40%/60% 40% 60% 40%;
  }
  50% {
    border-radius: 40% 60% 60% 40%/60% 40% 60% 40%;
  }
  75% {
    border-radius: 40% 60% 40% 60%/60% 40% 60% 40%;
  }
  100% {
    border-radius: 50%;
  }
}
@keyframes to-circle {
  border-radius: 50%;
}
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Nanum Gothic Coding";
}

ul {
  list-style: none;
}

.App {
  height: 100%;
  max-height: 100vh;
  overflow: overlay;
  overflow-x: hidden;
  text-align: center;
  font-family: "Nanum Gothic Coding";
  font-size: calc(15px + 0.390625vw);
}
.App::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
  z-index: 11;
}
.App::-webkit-scrollbar-track {
  background-color: transparent;
}
.App::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.App::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.App::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.9);
}

.scroll-hide::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.scroll-hide::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
  padding: 0px 10px 10px 10px;
  background-color: #E0E0E0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

@media (min-width: 640px) {
  .content {
    padding: 0px 40px 20px 40px;
  }
  .content_inner {
    max-width: 900px;
  }
}
.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;
  background-color: #1B2125;
  color: #C0C0C0;
  min-height: 70px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.navbar_logo {
  font-size: calc(20px + 0.390625vw);
  transition-property: font-size;
  transition-duration: 1s;
  transition-delay: 0.2s;
  cursor: pointer;
}
.navbar_logo:hover {
  font-size: calc(20px + 0.8vw);
}

@media (min-width: 640px) {
  .navbar {
    min-height: 80px;
    height: 80px;
    padding: 0 30px;
  }
}
.header {
  background-color: #000;
  box-shadow: 1px 1px 5px 0px #1B2125;
  position: sticky;
  top: 0;
  width: 100%;
}

.logo {
  display: inline-block;
  color: #FFF;
  font-size: 60px;
  margin-left: 10px;
}

.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
  z-index: 10;
}

.hamb-line {
  background: #C0C0C0;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background: #C0C0C0;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 0%;
  height: auto;
  width: 100vw;
  background-color: #1B2125;
  transition: max-height 0.5s 0s linear;
}

.menu {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 1000ms, opacity 1000ms;
}
.menu a {
  display: block;
  padding: 30px;
  color: #C0C0C0;
  font-size: calc(15px + 0.390625vw);
  transition-property: font-size;
  transition-duration: 1s;
  transition-delay: 0.2s;
}
.menu a:hover {
  font-size: calc(15px + 0.8vw);
  color: #FFF;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ nav {
  max-height: 100%;
  height: height;
  transition: max-height 0.5s 0s linear;
}

.side-menu:checked ~ * .menu {
  visibility: visible;
  opacity: 1;
  transition: opacity 1000ms linear;
}

.side-menu:checked ~ .hamb .hamb-line {
  z-index: 1;
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 768px) {
  .nav {
    max-height: 100%;
    width: auto;
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1B2125;
    overflow: hidden;
    transition-property: none;
  }
  .menu {
    transition: visibility 0s 0s linear;
    visibility: visible;
    opacity: 1;
  }
  .menu li {
    float: left;
  }
  .menu a:hover {
    background-color: transparent;
  }
  .hamb {
    display: none;
  }
}
.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;
}
.greeting p {
  margin-top: 2rem;
}
.greeting h1 {
  margin-top: 0.5rem;
  white-space: pre-line;
}
.greeting_icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.greeting_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  margin: 5px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.greeting_icons_html {
  background-image: url("../../assets/html.png");
  height: 2.5rem;
  width: 2.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.greeting_icons_css {
  background-image: url("../../assets/css.png");
  height: 2.5rem;
  width: 2.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.greeting_icons_sass {
  background-image: url("../../assets/sass.png");
  height: 2.5rem;
  width: 2.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.greeting_icons_react {
  background-image: url("../../assets/react.png");
  height: 2.5rem;
  width: 2.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.greeting_icons_redux {
  background-image: url("../../assets/redux.png");
  height: 2.5rem;
  width: 2.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 640px) {
  .greeting p {
    max-width: 400px;
  }
}
@media (min-width: 1024px) {
  .greeting {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }
  .greeting h1 {
    margin-left: 2rem;
  }
  .greeting p {
    max-width: 550px;
  }
}
.avatar {
  background-image: url("../../assets/avatar1.jpg");
  width: 18rem;
  height: 18rem;
  background-repeat: no-repeat;
  background-size: 18rem;
  border-radius: 50%;
}
.avatar_running {
  animation: borders-morph 1.5s linear infinite;
  animation-play-state: running;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  min-height: 80vh;
}
.about_text {
  max-width: 640px;
}
.about p {
  margin-top: 1rem;
}

@media (min-width: 1024px) {
  .about {
    min-height: 80vh;
  }
  .about_text {
    margin-left: 2rem;
  }
}
.avatar_about {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.avatar_about_img {
  border-radius: 30%;
  width: 20rem;
  height: 20rem;
}

@media (min-width: 1024px) {
  .about_inner {
    display: flex;
    flex-direction: row;
  }
  .about_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
  }
  .avatar_about {
    width: 15rem;
    height: 15rem;
  }
}
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  min-height: 30vh;
}
.portfolio h3 {
  margin-top: 2rem;
}

@media (min-width: 1024px) {
  .portfolio {
    min-height: 30vh;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 30vh;
}
.contact div:nth-child(2) {
  margin-top: 2rem;
}
.contact div:not(:nth-child(2)) {
  margin-top: 1rem;
}
.contact p {
  margin-top: 1rem;
}

@media (min-width: 1024px) {
  .contact {
    min-height: 30vh;
  }
}
.footer {
  background-color: #1B2125;
  color: #C0C0C0;
  min-height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_github_icon {
  background-image: url("../../assets/github.png");
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/*# sourceMappingURL=App.css.map */
